<h1>Github Search application</h1>

<p id="p">This is your application where you can enter the user name of 
any friend that has a github account
then when click on search you can see information about him such as name,
his repositories number,his followers,his following
even the link to the gh pages.You are wellcome!</p>
<div class="container">
<div class="row">
 <div class="col-md-6">
     
        <blockquote class="text-center text-lg">
         <p><img src="{{github.avatar_url}}"></p>
         <p>Name:{{github.name}}</p>
         <p>Repositories:{{github.public_repos}}</p>
         <p>Followers{{github.followers}}</p>
         <p>Folowing:{{github.following}}</p>
           <footer><cite><a href="{{github. repos_url}}" target="_blank">Link to the Github pages</a></cite></footer>
        </blockquote>
 </div>
 <div class="col-md-6">


            <label id="user"></label>
            <input type="search" placeholder=" type a username " [(ngModel)]="userInput">
            <button (click)='submit()'>Search</button>
            </div>  
             

</div>
</div>