
<div class="container-fluid">
        <div class="row">
            <form  #githubForm='ngForm'>
                <div class="form-group">
    
                    <label for="Username">Username</label>
                    <input type="text" required class="form-control" id="username" [(ngModel)]="newUsername.username" name="username">
                <!--Testing  to see if we get data-->
                    Display {{newUsername.username}}
                    
                </div>
                <button type="submit" class="btn btn-success btn-lg">Continue</button>
                </form>
            </div>
        </div>